.body {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;

    margin-top: -100px;
}

a {
    color: #7d2121;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
}

.areaCadastro {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;


    width: 40%;
    height: 75vh;
    border: solid 0px #000;
    margin-top: 9%;
    border-radius: 20px;

    background-color: #ffffff7c;

}

.areaCadastro img {
    width: 65%;
    margin-top: -25%;
    margin-bottom: -5%;
}

.areaCadastro input {
    padding-left: 2%;
    width: 60%;
    height: 6vh;
    margin-top: 5%;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
}

.areaCadastro input:focus {
    transform: scale(1.03, 1.03);
    ;
}

.areaCadastro h1 {
    font-family: "Inter", sans-serif;
    color: #fff;
    margin-top: 2%;
    margin-left: -33%;
    font-size: 100%;
}

.areaCadastro button {
    background-color: #ffffff;
    width: 25%;
    margin-top: 4%;
    height: 6vh;
    border: none;
    border-radius: 8px;
    color: #7d7d7d;
    font-family: "Poppins", sans-serif;
    font-size: 90%;
    cursor: pointer;
    transition: 0.3s;
}