/* Config Box Base Videos */
.Box_BaseVideos {
    cursor: pointer;
    z-index: 1;
    /* border: 2px solid blueviolet; */
    position: relative;
    display: block;
    width: 400px;
    height: auto;
}

/* Capa do Video */
.CapaVideo {
    width: 100%;
    height: 200px;
    border: 5px solid #1f1f1f;
    border-radius: 20px;

}

/* Botão Display Encima da Capa */
#btn_playCapa {
    z-index: 2;
    position: absolute;
    color: rgba(212, 212, 212, 0.848);
    height: 50px;
    width: 50px;
    top: 50px;
    left: 150px;
    font-size: 80px;
}

.NomeDoVideo {
    font-family: "Overlock", sans-serif;
    font-size: 24px;
}

/* Botão Saiba Mais */
.btn_saibaMais {
    display: flex;
    background-color: #A10E15;
    border-radius: 20px;
    color: #f1f1f1;
    width: 100%;
    height: 40px;
    padding: 10px 30px;
    font-size: 18px;
} .btn_saibaMais p {
    margin-left: 10px;
}

/* Fim Config Box Base Videos */