/* Config Box Base Videos */
.Box_BaseVideos {
    cursor: pointer;
    z-index: 1;
    /* border: 2px solid blueviolet; */
    position: relative;
    display: block;
    width: 400px;
    height: 250px;
    transition: ease-in-out .5s ;
}.Box_BaseVideos:hover {
    scale: calc(1.03);
    height: 320px;
}

/* Capa do Video */
.CapaVideo {
    position: relative;
    z-index: 12;
    width: 100%;
    height: 200px;
    border: 5px solid #1f1f1f;
    border-radius: 20px;
} 

/* Botão Display Encima da Capa */
#btn_playCapa {
    z-index: 12;
    position: absolute;
    color: rgba(212, 212, 212, 0.848);
    height: 50px;
    width: 50px;
    top: 50px;
    left: 150px;
    font-size: 80px;
}


.NomeDoVideo {
    z-index: 3;
    position: absolute;
    top: 210px;
    left: 20px;
    font-family: "Overlock", sans-serif;
    font-size: 24px;
    transition: ease-in-out .5s;
}

/* Botão Saiba Mais */
.btn_saibaMais {
    display: flex;
    position: absolute;
    background-color: #A10E15;
    border-radius: 20px;
    color: #f1f1f1;
    width: 100%;
    height: 40px;
    padding: 10px 30px;
    font-size: 18px;
    transition: ease-in-out .5s;
} .btn_saibaMais p {
    margin-left: 10px;
}.Box_BaseVideos:hover .btn_saibaMais {
    top: 260px;
}

/* Fim Config Box Base Videos */