@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/*  font-family: "Overlock", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
/*  font-family: "Amiko", sans-serif; */

/* Config do Overlay */
.janela_modal {
    z-index: 1000;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
} .janela_modal.abrir {
    display: flex;
} /* Fim Config do Overlay */


.espacador {
    /* border: 2px solid red; */
    height: 20px;
}

.container {
    margin: auto;
    overflow-y: auto;
    width: 50vw;
    height: 90vh;
    margin-top: 80px;

    background-color: #1f1f1f;
    border: 5px solid #A10E15;
}

.btn_Voltar {
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
    padding: 8px;
    margin-left: 88%;
    
    color: #f1f1f1;
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-decoration: underline;
}

.box_iframe {
    display: flex;
    align-content: center;
    justify-content: center;
}

iframe {
    margin: auto;
}

.box_informacoes{
    /* border: greenyellow 2px solid ; */
    margin: auto;
    width: 90%;
}

.Titulo {
    font-family: "Overlock", sans-serif;
    font-size: 36px;
    color: #f1f1f1;
}

.Descricao {
    font-family: "Amiko", sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #f1f1f1;
}