
main {
    /* border: 2px solid red; */
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #1f1f1f;
} 

.titulo h2 {
    font-family: "Alex Brush", cursive;
    font-size: 84px;
    font-weight: 300;
    color: #1f1f1f;
} .titulo hr {
    border: 2px solid #1f1f1f;
    margin-top: -18px;
}

/* Config Banner */

/* Fim Config Banner */

/* Config Section Sonoplastia */
.Sonoplastia {
   background-color: #f1f1f1; 
   width: 100vw;
   height: auto;
} 

.Carousel{
    position: relative;
    /* border: 3px solid greenyellow; */
    display: flex;
    width: 100%;
    padding: 15px;
    overflow-x: auto;
    gap: 30px;
} .Carousel::-webkit-scrollbar {
    display: none;
}

.btn_left_sono, .btn_right_sono {
    position: absolute;
    top: 103vh;
    z-index: 15;
    background-color: #A10E15;
    color: #f1f1f1;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}
.btn_left_sono {
    left: 5%;
} .btn_right_sono {
    left: 93% ;
}
/* Fim Config Section Sonoplastia */

/* Config Section VideoClipe */
.VideoClipe {
    scroll-margin-top: 200px;
    background-color: #f1f1f1; 
    width: 100vw;
    height: auto;
}
.btn_left_video, .btn_right_video {
    position: absolute;
    top: 158vh;
    z-index: 15;
    background-color: #A10E15;
    color: #f1f1f1;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}
.btn_left_video {
    left: 5%;
} .btn_right_video {
    left: 93% ;
}
/* Fim Config Section VideoClipe */

/* Config Section Teaser e Webséries*/
.Webseries, .Cortes {
    background-color: #1f1f1f; 
    width: 100vw;
    height: auto;
} .Webseries .titulo h2, .Cortes .titulo h2{
    color: #f1f1f1;
} .Webseries .titulo hr, .Cortes .titulo hr {
    border: 2px solid #f1f1f1;
}/* Fim Config Section Teaser e Webséries*/


.btn_left_cortes, .btn_right_cortes {
    position: absolute;
    top: 230vh;
    z-index: 15;
    background-color: #A10E15;
    color: #f1f1f1;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}
.btn_left_cortes {
    left: 5%;
} .btn_right_cortes {
    left: 93% ;
}