@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

:root{
    --profile-size: 160px; /* tamanho padrão das imagens de perfil */
}

.tituloFotos {
    font-family: 'Alex Brush', cursive;
    color: #fff;
    font-size: 250%;
}

.fotosPerfil {
    display: flex;
    border: solid 0px blue;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 1%;
    gap: 2.5%;
}

/* As imagens de perfil usam a variável --profile-size para manter consistência */
.fotosPerfil img {
    width: 160px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    border: solid 5px #fff;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
}

.tituloNome {
    font-family: 'Alex Brush', cursive;
    color: #fff;
    font-size: 200%;
    margin-top: 6%;
    margin-bottom: 1%;
}

.inserirNome {
    display: block;
    width: 45%;

    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;

    margin-bottom: 3.3%;
}

.inserirNome input {
    width: 102.5%;
    height: 5vh;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #D9D9D9;
    padding-left: 2%;
    margin-top: -80%;
    margin-bottom: 5%;
    background-color: #D9D9D9;
}

.salvar {
    width: 102.5%;
    height: 5vh;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #A10E15;
    margin-bottom: 1%;
    background-color: #A10E15;
    transition: 0.3s;
    color: #f1f1f1;
}

.salvar:hover {
    cursor: pointer;
}

.salvar:active {
    transform: scale(0.99);
}

.cancelar {
    width: 102.5%;
    height: 5vh;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #D9D9D9;
    background-color: #D9D9D9;
    transition: 0.3s;
}

.cancelar:hover {
    cursor: pointer;
}

.cancelar:active {
    transform: scale(0.99);
}