/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
/*  font-family: "Alex Brush", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/*  font-family: "Overlock", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
/*  font-family: "Amiko", sans-serif; */

/* Config Geral */
* {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-x: hidden;
  
  background-color: #f1f1f1;
  color: #000;
}

.espacador {
  height: 80px;
  /* border: 3px solid red; */
} .margin {
    padding-inline: 10%;
} 

a {
  text-decoration: none;
}

/* Fim Config Geral */
